@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixins;
@use "../base/typography" ;

// _home.scss
.show-on-desktop {
  @include mixins.show(desktop);
}

.show-on-mobile {
  @include mixins.show(mobile);
}
// Hero
/* Hero */

.hero{
    padding: 110px 0 158px 0;
    background: #{var.$primary-color-bg};

    @include mixins.respond(md){
        padding-bottom: 32px;
    }
}

.hero__media{
    position: relative;
    @include mixins.flex($column-gap:30px);

    @include mixins.respond(md){
        width: 100%;
    }
}

.hero__thumb-left{
    &-wrap{
        position: relative;
        

        .hero__thumb{
            width: 270px;
            height: 302px;
            object-fit: cover;

            @include mixins.respond(md){
                width: 160.188px;
                height: 179.173px;
                object-fit: cover;
            }
        }

        .hero__play-audio{
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 194px;
            height: 60px;
            object-fit: cover;

            @include mixins.respond(md){
                width: 115.098px;
                height: 35.597px;
                object-fit: cover;
                left: 50%;
                transform: translateX(-50%);
                bottom: -15px;
            }
        }
    }
}

.hero__group{
    margin-top: 55px;
    @include mixins.respond(md){
        margin-top: 34px;
    }

    &-desc{
        @extend %text-btn-3;
        text-align: start;
        color: #{var.$primary-color-heading};

        @include mixins.respond(md){
            font-size: 0.8rem;
        }
    }

    &-avt{
        @include mixins.flex;

        .hero__avt{
            width: 48px;
            height: 48px;
            object-fit: cover;

            @include mixins.respond(md){
                width: 28px;
                height: 28px;
            }

            &-wrap{
            @include mixins.flex(center,center);
            @include mixins.respond(md){
                width: 28px;
                height: 28px;
                margin-left: -10px;
            }

            width: 48px;
            height: 48px;
            margin-left: -15px;
            border-radius: 50%;
            background: #{var.$primary-color-heading};

            .hero__value{
                color: #{var.$primary-color-btn-text};
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.83;

                @include mixins.respond(md){
                    font-size: 0.7rem;
                }
            }
        }
        }

        .hero__avt+.hero__avt{
            margin-left: -15px;
            @include mixins.respond(md){
                margin-left: -10px;
            }
        }
    }
}

.hero__thumb-right{
    position: relative;
    padding-top: 5px;

        .hero__icon{
        @include mixins.flex($align:center,$column-gap:18px);
        padding-bottom: 28px;
        @include mixins.respond(md){
            padding-bottom: 16px;
        }

        &-1{
            width: 24px;
            height: 24px;
            object-fit: cover;

            @include mixins.respond(md){
                width: 16px;
                height: 16px;
            }
        }

        &-2{
            width: 24px;
            height: 24px;
            object-fit: cover;
            @include mixins.respond(md){
                width: 16px;
                height: 16px;
            }
        }

        &-3{
            width: 24px;
            height: 24px;
            object-fit: cover;
            @include mixins.respond(md){
                width: 16px;
                height: 16px;
            }
        }
    }

    .hero__thumb{
        width: 270px;
        height: 302px;
        object-fit: cover;

        @include mixins.respond(md){
            width: 160.188px;
            height: 179.173px;
        }
    }
}

.hero__decor-wrap{
    position: relative;

    .hero__decor-1{
        position: absolute;
        top: -45px;
        left: 55px;

        @include mixins.respond(md){
            top: -36px;
            left: 20px;
        }
    }
    .hero__decor-2{
        position: absolute;
        bottom: -35px;
        right: 95px;

        @include mixins.respond(md){
            bottom: -10px;
            right: 20px;
        }
    }
}

.hero__decor_circle-wrap{
    @include mixins.flex(center,center);
    @include mixins.respond(md){
        width: 48px;
        height: 48px;
        margin-left: 70px;
    }

    width: 82px;
    height: 82px;
    margin-left: 112px;
    border-radius: 50%;
    background: #{var.$primary-color-decor};

    .hero__decor_circle-text{
        color: #FFEFE7;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;

        @include mixins.respond(md){
            font-size: 0.6rem;
        }

        .value{
            display: inline-block;
            margin-bottom: 4px;
            color: #{var.$primary-color-btn-text};
            text-align: center;
            font-size: 1.4rem;
            font-weight: 800;

            @include mixins.respond(md){
                font-size: 0.8rem;
            }
        }
    }
}


.hero__thumb-card{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 194px;
    padding:14px 0;
    border-radius: 9px;
    text-align: center;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5px);

    @include mixins.respond(md){
        min-width: 116px;
        padding: 8px 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 9px;
    }

    .singer-name{
        margin-bottom: 6px;
        color: #{var.$primary-color-heading};
        font-size: 1.4rem;
        font-weight: 600;

        @include mixins.respond(md){
            font-size: 0.8rem;
        }
    }

    .name-song{
        color: #{var.$primary-color-desc};
        font-size: 1.2rem;
        font-weight: 400;

        @include mixins.respond(md){
            font-size: 0.7rem;
        }
    }
}

.hero__content{
    margin-top: 20px;
    @include mixins.respond(md){
        width: 100%;
        margin-top: 40px;
    }
}



.hero__heading{

    &-wrap{
    display: inline-block;
    position: relative;
    }
    
    position: relative;
    margin-bottom: 20px;
    @extend %h1;
    z-index: 2;

    @include mixins.respond(md){
        font-size: 3.6rem;
        margin-bottom: 12px;
    }

    
    &-decor{
        position: absolute;
        left: 33px;
        bottom: 75px;

        @include mixins.respond(md){
            left: 0;
            bottom: 0;
        }
    }
}


.hero__desc{
    margin-bottom: 40px;
    @extend %p1;

    @include mixins.respond(md){
        font-size: 1.4rem;
        margin-bottom: 30px;
    }
}

.hero__cta{
    @include mixins.flex($align:center,$column-gap:30px);

    &-right{
    @include mixins.flex($align:center,$column-gap:13px);
    }
}

.hero__link{
    @extend %text-btn-1;
    color: #201830;
}


.play-icon-wrap{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include mixins.flex(center,center);
    background: #{var.$primary-color-heading};
    transition: transform .25s ease;

    &:hover{
        transform: scale(1.1);
    }
}

// Feature
/* Feature */
.feature{
    margin-top: 160px;



    &__heading-wrap{
        position: relative;
        width: 470px;
        padding-bottom: 12px;
        margin-bottom: 18px;

        @include mixins.respond(md){
            width: 339px;
            padding-bottom: 4px;
            margin-bottom: 12px;
        }
    }

    &__intro{
        .feature__heading-decor{
            @include mixins.respond(md){
                left: 0;
            }
        }

            .row{
            @include mixins.respond(md){
            display: flex;
            flex-direction: column-reverse;
            row-gap: 38px;
            }
        }
    }

    &__heading-decor{
        position: absolute;
        right: 61px;
        bottom: 0;
    }

    &__heading{
        @extend %h2;
        position: relative;
        z-index: 2;
        @include mixins.respond(md){
            font-size: 2.6rem;
        }
    }

    &__desc{
        @extend %p2;
        margin-bottom: 38px;

        @include mixins.respond(md){
            font-size: 1.4rem;
            margin-bottom: 28px;
        }
    }

    &__btn__content{
        @include mixins.flex(center,center,$column-gap:8px);
    }

    &__btn__content-play{
        @include mixins.flex(center,center);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #{var.$primary-color-btn-text};
    }

    .media{
        position: relative;
        min-height: 339px;

        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: inline-block;
            width: 287px;
            height: 287px;
            border-radius: 50%;
            background: rgba(255, 144, 81, 0.4);
            filter: blur(129px);
            z-index: -1;

            @include mixins.respond(md){
                width: 176px;
                height: 176px;
            }
        }

        @include mixins.respond(md){
            width: 100%;
            min-height: 238px;
            order: 1;
        }
    }

    &-icon-1{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 80px;
        height: 80px;
        object-fit: cover;

        @include mixins.respond(md){
            width: 48px;
            height: 48px;
        }
    }

    &-icon-2{
        position: absolute;
        top: 0;
        left: 35%;
        width: 148px;
        height: 148px;
        object-fit: cover;

        @include mixins.respond(md){
            width: 89px;
            height: 89px;
        }
    }

    &-icon-3{
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 126px;
        height: 126px;
        object-fit: cover;

        @include mixins.respond(md){
            width: 75px;
            height: 75px;
            left: 20%;
        }
    }

    &-icon-4{
        position: absolute;
        bottom: 30px;
        right: 15%;
        width: 138px;
        height: 138px;
        object-fit: cover;
        
        @include mixins.respond(md){
            width: 82px;
            height: 82px;
            right: 30%;
            bottom: 24px;
        }
    }

    &-icon-5{
        position: absolute;
        top: 51px;
        right: 0;
        width: 100px;
        height: 100px;
        object-fit: cover;
        
        @include mixins.respond(md){
            width: 100px;
            height: 100px;
        }
    }

    &__gallery{
        margin-top: 160px;
        @include mixins.respond(md){
            margin-top: 100px;
        }

        .content{

            .feature__heading-wrap{
                @include mixins.respond(md){
                    width: 234px;
                    padding-bottom: 6px;
                    margin: 0 auto 12px auto;
                }
            }

            .feature__heading{
                text-align: center;
            }

            .feature__heading-decor{
                @include mixins.respond(md){
                    right: 0;
                }
            }

            .feature__desc{
                width: 470px;
                text-align: center;

                @include mixins.respond(md){
                    width: 339px;
                    margin: 0 auto 0 auto;
                }
            }
        }

        .gallery__list{
            margin-top: 70px;
            @include mixins.respond(md){
                margin-top: 38px;
            }

            .col-lg-8{

                .row{
                    margin-bottom: 30px;

                    @include mixins.respond(md){
                        margin-bottom: unset;
                    }
                }
            }

            .col-12, .col-10{
                @include mixins.respond(md){
                    margin-bottom: 30px;
                }
            }
            
            .education__card{
                position: relative;
                min-height: 600px;

                @include mixins.respond(md){
                    min-height: 550px;
                }

                &-thumb{
                    width: 100%;
                    height: 100%;
                }
                
                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .healthcare__card{
                position: relative;
                height: 285px; 

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                 &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .music__card{
                position: relative;
                height: 100%;

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .fashion__card{
                position: relative;
                height: 100%;

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .comedy__card{
                position: relative;
                height: 100%;

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }
        }

        .cta{
            margin-top: 55px;

            @include mixins.flex(center);
            @include mixins.respond(md){
                margin-top: 8px;
            }
        }
    }

    &__popular{
        margin-top: 160px;
        padding: 100px 0;
        background: #{var.$primary-color-bg};

        &-top{
            @include mixins.flex(space-between, center);
            
            .feature__heading{

                &-wrap{
                    width: 390px;
                    padding-bottom: 0;

                    @include mixins.respond(md){
                        width: 339px;
                        padding-bottom: 6px;
                    }
                }
                
                &-decor{
                    right: 45px;
                    bottom: 45px;

                    @include mixins.respond(md){
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }

        &-bottom{
            margin-top: 84px;
            @include mixins.respond(md){
                margin-top: 38px;
            }

            .episode{
                &__thumb{
                width: 100%;
                object-fit: cover;
                }

                &__content{
                    padding: 30px 0;

                    @include mixins.respond(md){
                        padding: 18px 0;
                    }
                }

                &__sub-title{
                @extend %p3;
                
                color: #{var.$primary-color-decor};
                margin-bottom: 6px;

                @include mixins.respond(md){
                        font-size: 1rem;
                        margin-bottom: 7px;
                    }
                }

                &__title{
                    @extend %h3;

                    margin-bottom: 18px;

                    @include mixins.respond(md){
                        font-size: 1.2rem;
                        margin-bottom: 12px;
                    }
                }

                &__desc{
                    @extend %p2;

                    margin-bottom: 11px;

                    @include mixins.respond(md){
                        font-size: 1rem;
                        margin-bottom: 7px;
                    }
                }

                &__cta{
                    @include mixins.flex($align:center,$column-gap:6px);
                    cursor: pointer;
                    transition: all .25s ease;

                    .play-icon-wrap{
                        @include mixins.respond(md){
                            width: 10px;
                            height: 10px;
                        }
                    }

                    &:hover .play-icon-wrap{
                        background: #{var.$primary-color-btn};
                    }

                    &:hover .episode__link{
                        color: #{var.$primary-color-btn};
                    }
                }

                &__link{
                    @extend %text-btn-3;
                    color: #{var.$primary-color-heading};

                    @include mixins.respond(md){
                        font-size: 1rem;
                    }
                }
            }

            .row__below{
                margin-top: 30px;
            }
        }
    }
}

.dots{
    @include mixins.flex(center,center,$column-gap:12px);

    margin-top: 58px;
    cursor: pointer;

    @include mixins.respond(md){
        margin-top: 18px;
    }
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D8D5DE;

    &__active{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #{var.$primary-color-btn};
    }
}

.popular__btn__mobile{
    margin-top: 38px;
}

// Testimonial
/* Testimonial */
.testimonial{
    padding-top: 160px;
    position: relative;
    overflow-x: hidden;

    @include mixins.respond(md){
        padding-top: 100px;
    }

    .row{
        @include mixins.respond(md){
            display: flex;
            flex-direction: column-reverse;
            row-gap: 35px;
        }
    }


    &::after{
        position: absolute;
        top: 50%;
        right: -120px;
        transform: translateY(-50%);
        content: "";
        display: inline-block;
        width: 287px;
        height: 287px;
        border-radius: 50%;
        background: rgba(255, 144, 81, 0.4);
        filter: blur(129px);

        @include mixins.respond(md){
            display: none;
        }
    }

    &__media{
        position: relative;

        .dots{
            position: absolute;
            bottom: 0;
            left: 75px;

            @include mixins.respond(md){
                left: 0;
            }
        }
    }

    &__thumb{

        &-layout{
            position: relative;
            align-items: center;

            .row{
                @include mixins.respond(md){
                    row-gap: 0;
                }
            }
        }

        &-left{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            z-index: 2;
        }

        &-sm{
            width: 100%;
            display: block;
        }

        &-right{
            position: relative;
            z-index: 1;
        }

        &-md{
            width: 100%;
            display: block;
        }
    }

    &__content{
        padding-top: 56px;
    }

    &__heading{
        @extend %h2;
        @include mixins.respond(md){
            font-size: 2.6rem;
        }

        &-wrap{
            position: relative;
            margin-bottom: 38px;

            @include mixins.respond(md){
                margin-bottom: 12px;
            }
        }

        &-decor-1{
            margin-bottom: 18px;
        }

        &-decor-2{
            position: absolute;
            bottom: 40px;
            right: 55px;
            z-index: -1;

            @include mixins.respond(md){
                right: 36%;
                top: 30%;
            }
        }
    }

    &__desc{
        @extend %p2;
        @include mixins.respond(md){
            font-size: 1.4rem;
        }
        margin-bottom: 18px;

        @include mixins.respond(md){
            margin-bottom: 12px;
        }
    }

    &__name{
        @extend %p3;

        color: #ABA6B5;
    }
}

// Newsletter
/* Newsletter */
.newsletter{

    &__inner{
        position: relative;
        margin-top: 160px;
        padding: 100px 0;
        border-radius: 12px;
        background: #{var.$primary-color-heading};

        @include mixins.respond(md){
            width: 100%;
        }
    }

    &__bg-decor-left{
        position: absolute;
        left: 35px;
        bottom: 45px;

        @include mixins.respond(md){
            right: 60px;
            bottom: 67px;
            left: unset;
        }
    }

    &__bg-decor-center{
        position: absolute;
        top: 26px;
        left: 50%;
        transform: translateX(-50%);

        @include mixins.respond(md){
            left: unset;
            top: unset;
            bottom: 11px;
            right: 34px;
        }
    }

    &__bg-decor-right{
        position: absolute;
        right: 27px;
        top: 50%;
        transform: translateY(-50%);

        @include mixins.respond(md){
            top: unset;
            bottom: 25px;
            right: 120px;
        }
    }

    &__heading{
        @extend %h2;
        position: relative;
        color: #{var.$primary-color-btn-text};
        z-index: 1;

        @include mixins.respond(md){
            font-size: 2.6rem;
            margin-bottom: 12px;
        }


        &-wrap{
            position: relative;
        }

        &-decor{
            position: absolute;
            bottom: -8px;
            left: -5px;
        }
    }

    &__desc{
        @extend %p2;
        @include mixins.respond(md){
            font-size: 1.4rem;
        }
    }

    &-bottom{
        margin-top: 70px;

        @include mixins.respond(md){
            margin-top: 38px;
        }

        .row{
            row-gap: 16px;
        }
    }
}

// footer
/* footer */
.footer{
    padding: 100px 0 40px;
    background: #{var.$primary-color-bg};

    .row{
        .col-12{
            @include mixins.respond(md){
                margin-top: 25px;
            }
        }
    }
    
    .logo{
        width: 116.12px;
        height: 26px;
        object-fit: cover;
    }

    .copyright{
        margin-top: 15px;
        @extend %p2;
    }

    &__social{
        @include mixins.flex($align:center,$column-gap:15px);

        margin-top: 20px;
    }

    .icon{
        &-fb,&-linkedin,&-twitter{
            @include mixins.flex(center,center);
            
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #{var.$primary-color-heading};
            transition: all .25s ease;

            &:hover{
                background: #{var.$primary-color-btn};
                cursor: pointer;
            }
        }
    }

    &__heading{
        @extend %h3;

        margin-bottom: 15px;
    }

    &__item{
        @extend %p2;

        margin-bottom: 25px;
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    .group__apps{
        @include mixins.flex($align:center,$column-gap:16px);
    }

    &-icon{
        width: 36px;
        height: 36px;
        object-fit: cover;
    }
}