@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixins;
@use "../base/typography" ;

// _home.scss
// Hero
/* Hero */
.hero{
    padding: 110px 0 158px 0;
    background: #{var.$primary-color-bg};
}

.hero__media{
    position: relative;
    @include mixins.flex($column-gap:30px);
}

.hero__thumb-left{
    &-wrap{
        position: relative;
        

        .hero__thumb{
            width: 270px;
            height: 302px;
            object-fit: cover;
        }

        .hero__play-audio{
            position: absolute;
            bottom: -30px;
            left: 38px;
            width: 194px;
            height: 60px;
            object-fit: cover;
        }
    }
}

.hero__group{
    margin-top: 55px;

    &-desc{
        @extend %text-btn-3;
        text-align: start;
        color: #{var.$primary-color-heading};
    }

    &-avt{
        @include mixins.flex;

        .hero__avt{
            width: 48px;
            height: 48px;
            object-fit: cover;

            &-wrap{
            @include mixins.flex(center,center);

            width: 48px;
            height: 48px;
            margin-left: -15px;
            border-radius: 50%;
            background: #{var.$primary-color-heading};

            .hero__value{
                color: #{var.$primary-color-btn-text};
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.83;
            }
        }
        }

        .hero__avt+.hero__avt{
            margin-left: -15px;
        }
    }
}

.hero__thumb-right{
    position: relative;
    padding-top: 5px;

        .hero__icon{
        @include mixins.flex($align:center,$column-gap:18px);
        padding-bottom: 28px;

        &-1{
            width: 24px;
            height: 24px;
            object-fit: cover;
        }

        &-2{
            width: 24px;
            height: 24px;
            object-fit: cover;
        }

        &-3{
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
    }

    .hero__thumb{
        width: 270px;
        height: 302px;
        object-fit: cover;
    }
}

.hero__decor-wrap{
    position: relative;

    .hero__decor-1{
        position: absolute;
        top: -45px;
        left: 55px;
    }
    .hero__decor-2{
        position: absolute;
        bottom: -35px;
        right: 95px;
    }
}

.hero__decor_circle-wrap{
    @include mixins.flex(center,center);

    width: 82px;
    height: 82px;
    margin-left: 112px;
    border-radius: 50%;
    background: #{var.$primary-color-decor};

    .hero__decor_circle-text{
        color: #FFEFE7;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;

        .value{
            display: inline-block;
            margin-bottom: 4px;
            color: #{var.$primary-color-btn-text};
            text-align: center;
            font-size: 1.4rem;
            font-weight: 800;
        }
    }
}


.hero__thumb-card{
    position: absolute;
    bottom: 16px;
    left: 38px;
    padding:14px 45px;
    border-radius: 9px;
    text-align: center;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5px);

    .singer-name{
        margin-bottom: 6px;
        color: #{var.$primary-color-heading};
        font-size: 1.4rem;
        font-weight: 600;
    }

    .name-song{
        color: #{var.$primary-color-desc};
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.hero__content{
    margin-top: 20px;
}



.hero__heading{
    &-wrap{
    display: inline-block;
    position: relative;
    }
    
    position: relative;
    margin-bottom: 20px;
    @extend %h1;
    z-index: 2;

    
    &-decor{
        position: absolute;
        left: 33px;
        bottom: 75px;
    }
}


.hero__desc{
    margin-bottom: 40px;
    @extend %p1;
}

.hero__cta{
    @include mixins.flex($align:center,$column-gap:30px);

    &-right{
    @include mixins.flex($align:center,$column-gap:13px);
    }
}

.hero__link{
    @extend %text-btn-1;
    color: #201830;
}


.play-icon-wrap{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include mixins.flex(center,center);
    background: #{var.$primary-color-heading};
    transition: transform .25s ease;

    &:hover{
        transform: scale(1.1);
    }
}

// Feature
/* Feature */
.feature{
    margin-top: 160px;

    &__heading-wrap{
        position: relative;
        width: 470px;
        padding-bottom: 12px;
        margin-bottom: 18px;
    }

    &__heading-decor{
        position: absolute;
        right: 61px;
        bottom: 0;
    }

    &__heading{
        @extend %h2;
        position: relative;
        z-index: 2;
    }

    &__desc{
        @extend %p2;
        margin-bottom: 38px;
    }

    &__btn__content{
        @include mixins.flex(center,center,$column-gap:8px);
    }

    &__btn__content-play{
        @include mixins.flex(center,center);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #{var.$primary-color-btn-text};
    }

    .media{
        position: relative;
        min-height: 339px;

        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: inline-block;
            width: 287px;
            height: 287px;
            border-radius: 50%;
            background: rgba(255, 144, 81, 0.4);
            filter: blur(129px);
            z-index: -1;
        }
    }

    &-icon-1{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    &-icon-2{
        position: absolute;
        top: 0;
        left: 35%;
        width: 148px;
        height: 148px;
        object-fit: cover;
    }

    &-icon-3{
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 126px;
        height: 126px;
        object-fit: cover;
    }

    &-icon-4{
        position: absolute;
        bottom: 30px;
        right: 15%;
        width: 138px;
        height: 138px;
        object-fit: cover; 
    }

    &-icon-5{
        position: absolute;
        top: 51px;
        right: 0;
        width: 100px;
        height: 100px;
        object-fit: cover; 
    }

    &__gallery{
        margin-top: 160px;

        .content{

            .feature__heading{
                text-align: center;
            }

            .feature__heading-decor{
                right: 42px;
            }

            .feature__desc{
                width: 470px;
                text-align: center;
            }
        }

        .gallery__list{
            margin-top: 70px;

            .col-lg-8{

                .row{
                    margin-bottom: 30px;
                }
            }
            
            .education__card{
                position: relative;
                min-height: 600px;

                &-thumb{
                    width: 100%;
                    height: 100%;
                }
                
                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .healthcare__card{
                position: relative;
                height: 285px; 

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                 &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .music__card{
                position: relative;
                height: 100%;

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .fashion__card{
                position: relative;
                height: 100%;

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }

            .comedy__card{
                position: relative;
                height: 100%;

                &-thumb{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                &-text{
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px 0px 16px 24px;
                    border-radius: 8px;
                    fill: rgba(255, 255, 255, 0.20);
                    backdrop-filter: blur(10px);
                }

                &-heading{
                    @extend %text-btn-1;

                    text-align: start;

                    &-wrap{
                        @include mixins.flex($align:center,$column-gap:8px);
                    }

                    &-icon{
                        @include mixins.flex(center,center);

                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 1px solid #{var.$primary-color-btn-text};
                        background: transparent;
                    }
                }

                &-desc{
                    @extend %p3;

                    color: #{var.$primary-color-btn-text};
                }
            }
        }

        .cta{
            margin-top: 55px;

            @include mixins.flex(center);
        }
    }

    &__popular{
        margin-top: 160px;
        padding: 100px 0;
        background: #{var.$primary-color-bg};

        &-top{
            @include mixins.flex(space-between, center);
            
            .feature__heading{

                &-wrap{
                    width: 390px;
                    padding-bottom: 0;
                }
                
                &-decor{
                    right: 45px;
                    bottom: 45px;
                }
            }
        }

        &-bottom{
            margin-top: 84px;

            .episode{
                &__thumb{
                width: 100%;
                object-fit: cover;
                }

                &__content{
                    padding: 30px 0;
                }

                &__sub-title{
                @extend %p3;
                
                color: #{var.$primary-color-decor};
                margin-bottom: 6px;
                }

                &__title{
                    @extend %h3;

                    margin-bottom: 18px;
                }

                &__desc{
                    @extend %p2;

                    margin-bottom: 11px;
                }

                &__cta{
                    @include mixins.flex($align:center,$column-gap:6px);
                    cursor: pointer;
                    transition: all .25s ease;

                    &:hover .play-icon-wrap{
                        background: #{var.$primary-color-btn};
                    }

                    &:hover .episode__link{
                        color: #{var.$primary-color-btn};
                    }
                }

                &__link{
                    @extend %text-btn-3;
                    color: #{var.$primary-color-heading};
                }
            }

            .row__below{
                margin-top: 30px;
            }
        }
    }
}

.dots{
    @include mixins.flex(center,center,$column-gap:12px);

    margin-top: 58px;
    cursor: pointer;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D8D5DE;

    &__active{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #{var.$primary-color-btn};
    }
}

// Testimonial
/* Testimonial */
.testimonial{
    padding-top: 160px;
    position: relative;
    overflow-x: hidden;


    &::after{
        position: absolute;
        top: 50%;
        right: -120px;
        transform: translateY(-50%);
        content: "";
        display: inline-block;
        width: 287px;
        height: 287px;
        border-radius: 50%;
        background: rgba(255, 144, 81, 0.4);
        filter: blur(129px);
    }

    &__media{
        position: relative;

        .dots{
            position: absolute;
            bottom: 0;
            left: 75px;
        }
    }

    &__thumb{

        &-layout{
            position: relative;
            align-items: center;
        }

        &-left{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            z-index: 2;
        }

        &-sm{
            width: 100%;
            display: block;
        }

        &-right{
            position: relative;
            z-index: 1;
        }

        &-md{
            width: 100%;
            display: block;
        }
    }

    &__content{
        padding-top: 56px;
    }

    &__heading{
        @extend %h2;

        &-wrap{
            position: relative;
            margin-bottom: 38px;
        }

        &-decor-1{
            margin-bottom: 18px;
        }

        &-decor-2{
            position: absolute;
            bottom: 40px;
            right: 55px;
            z-index: -1;
        }
    }

    &__desc{
        @extend %p2;
        margin-bottom: 18px;
    }

    &__name{
        @extend %p3;

        color: #ABA6B5;
    }
}

// Newsletter
/* Newsletter */
.newsletter{

    &__inner{
        position: relative;
        margin-top: 160px;
        padding: 100px 0;
        border-radius: 12px;
        background: #{var.$primary-color-heading};
    }

    &__bg-decor-left{
        position: absolute;
        left: 35px;
        bottom: 45px;
    }

    &__bg-decor-center{
        position: absolute;
        top: 26px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bg-decor-right{
        position: absolute;
        right: 27px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__heading{
        @extend %h2;
        position: relative;
        color: #{var.$primary-color-btn-text};
        z-index: 1;


        &-wrap{
            position: relative;
        }

        &-decor{
            position: absolute;
            bottom: -8px;
            left: -5px;
        }
    }

    &__desc{
        @extend %p2;

    }

    &-bottom{
        margin-top: 70px;
    }
}

// footer
/* footer */
.footer{
    padding: 100px 0 40px;
    background: #{var.$primary-color-bg};
    
    .logo{
        width: 116.12px;
        height: 26px;
        object-fit: cover;
    }

    .copyright{
        margin-top: 15px;
        @extend %p2;
    }

    &__social{
        @include mixins.flex($align:center,$column-gap:15px);

        margin-top: 20px;
    }

    .icon{
        &-fb,&-linkedin,&-twitter{
            @include mixins.flex(center,center);
            
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #{var.$primary-color-heading};
            transition: all .25s ease;

            &:hover{
                background: #{var.$primary-color-btn};
                cursor: pointer;
            }
        }
    }

    &__heading{
        @extend %h3;

        margin-bottom: 15px;
    }

    &__item{
        @extend %p2;

        margin-bottom: 25px;
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    .group__apps{
        @include mixins.flex($align:center,$column-gap:16px);
    }

    &-icon{
        width: 36px;
        height: 36px;
        object-fit: cover;
    }
}