/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

input, textarea, select, button {
  font-size: inherit;
  font-family: inherit;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.hero__heading {
  color: #201830;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.14;
}

.feature__heading, .testimonial__heading, .newsletter__heading {
  color: #201830;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.23;
}

.feature__popular-bottom .episode__title, .footer__heading {
  color: #201830;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.hero__link, .feature__gallery .gallery__list .education__card-heading, .feature__gallery .gallery__list .healthcare__card-heading, .feature__gallery .gallery__list .music__card-heading, .feature__gallery .gallery__list .fashion__card-heading, .feature__gallery .gallery__list .comedy__card-heading, .hero__btn, .feature__btn, .gallery__btn, .popular__btn, .subscribe__btn {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667;
  text-align: center;
}

.header__btn, .header__link {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  text-align: center;
}

.hero__group-desc, .feature__popular-bottom .episode__link {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
  text-align: center;
}

.hero__desc {
  color: #665F73;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.feature__desc, .feature__popular-bottom .episode__desc, .testimonial__desc, .newsletter__desc, .footer .copyright, .footer__item, .navbar__list .navbar__link, .subscribe__input::placeholder {
  color: #665F73;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.feature__gallery .gallery__list .education__card-desc, .feature__gallery .gallery__list .healthcare__card-desc, .feature__gallery .gallery__list .music__card-desc, .feature__gallery .gallery__list .fashion__card-desc, .feature__gallery .gallery__list .comedy__card-desc, .feature__popular-bottom .episode__sub-title, .testimonial__name {
  color: #665F73;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

.col, .row[class*=row-cols-] > *,
.row [class*=col-], .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row[class*=row-cols-] > *,
.row [class*=col-] {
  flex: 0 0 auto;
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    width: 100%;
  }
  .row-cols-sm-2 > * {
    width: 50%;
  }
  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    width: 25%;
  }
  .row-cols-sm-5 > * {
    width: 20%;
  }
  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    width: 100%;
  }
  .row-cols-md-2 > * {
    width: 50%;
  }
  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    width: 25%;
  }
  .row-cols-md-5 > * {
    width: 20%;
  }
  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    width: 100%;
  }
  .row-cols-lg-2 > * {
    width: 50%;
  }
  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    width: 25%;
  }
  .row-cols-lg-5 > * {
    width: 20%;
  }
  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    width: 100%;
  }
  .row-cols-xl-2 > * {
    width: 50%;
  }
  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    width: 25%;
  }
  .row-cols-xl-5 > * {
    width: 20%;
  }
  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-xxl-1 > * {
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
/* Header */
.header {
  --primary-color-bg:#FFF8F3;
  padding: 52px 0 15px 0;
  background: var(--primary-color-bg);
}
.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 3;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0;
}

.header-icon {
  width: 116.12px;
  height: 26px;
  object-fit: cover;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
}

.header__link {
  color: #201830;
}

.navbar__list {
  --primary-heading-color:#201830;
  display: flex;
}
.navbar__list .navbar__link {
  padding: 8px 21px;
}
.navbar__list .navbar__link:hover, .navbar__list .navbar__link--active {
  color: var(--primary-heading-color);
  text-shadow: 1px 0 0 currentColor;
}

.header__btn {
  --height:48px;
  --width:116px;
  --primary-color-btn:#201830;
  display: inline-block;
  min-width: var(--width);
  height: var(--height);
  padding: 0 20px;
  border: 1px solid var(--primary-color-btn);
  border-radius: 6px;
  line-height: var(--height);
  color: #FFF;
  background: var(--primary-color-btn);
}
.header__btn:hover {
  opacity: 0.5;
}

.hero__btn {
  --height:64px;
  --width:157px;
  --primary-color-btn:#936CDD;
  display: inline-block;
  min-width: var(--width);
  height: var(--height);
  padding: 0 20px;
  border: 1px solid var(--primary-color-btn);
  border-radius: 8px;
  line-height: var(--height);
  color: #FFF;
  background: var(--primary-color-btn);
}
.hero__btn:hover {
  opacity: 0.5;
}

.feature__btn {
  --height:64px;
  --width:157px;
  --primary-color-btn:#936CDD;
  display: inline-block;
  min-width: var(--width);
  height: var(--height);
  padding: 0 20px;
  border: 1px solid var(--primary-color-btn);
  border-radius: 8px;
  line-height: var(--height);
  color: #FFF;
  background: var(--primary-color-btn);
}
.feature__btn:hover {
  opacity: 0.5;
}

.gallery__btn {
  --height:64px;
  --width:157px;
  --primary-color-btn:#201830;
  display: inline-block;
  min-width: var(--width);
  height: var(--height);
  padding: 0 20px;
  border: 1px solid var(--primary-color-btn);
  border-radius: 8px;
  line-height: var(--height);
  color: #FFF;
  background: var(--primary-color-btn);
}
.gallery__btn:hover {
  opacity: 0.5;
}

.popular__btn {
  --height:64px;
  --width:157px;
  --primary-color-btn:#201830;
  display: inline-block;
  min-width: var(--width);
  height: var(--height);
  padding: 0 20px;
  border: 1px solid var(--primary-color-btn);
  border-radius: 8px;
  line-height: var(--height);
  color: #FFF;
  background: var(--primary-color-btn);
}
.popular__btn:hover {
  opacity: 0.5;
}

.subscribe__btn {
  --height:64px;
  --width:157px;
  --primary-color-btn:#936CDD;
  display: inline-block;
  min-width: var(--width);
  height: var(--height);
  padding: 0 20px;
  border: 1px solid var(--primary-color-btn);
  border-radius: 8px;
  line-height: var(--height);
  color: #FFF;
  background: var(--primary-color-btn);
  border: none;
  outline: none;
}
.subscribe__btn:hover {
  opacity: 0.5;
}

.subscribe__form .row__inner {
  align-items: center;
}

.subscribe__input {
  width: 100%;
  padding: 18px 0 18px 28px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #2B213F;
}
.subscribe__input:focus {
  outline: none;
  border-color: #6c9eff;
  box-shadow: 0 0 0 1px #6c9eff;
}

@media screen and (max-width: 768px) {
  .show-on-desktop {
    display: none;
  }
}

.show-on-mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .show-on-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .show-on-mobile {
    display: block;
  }
}

/* Hero */
.hero {
  padding: 110px 0 158px 0;
  background: #FFF8F3;
}
@media screen and (max-width: 768px) {
  .hero {
    padding-bottom: 32px;
  }
}

.hero__media {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .hero__media {
    width: 100%;
  }
}

.hero__thumb-left-wrap {
  position: relative;
}
.hero__thumb-left-wrap .hero__thumb {
  width: 270px;
  height: 302px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__thumb-left-wrap .hero__thumb {
    width: 160.188px;
    height: 179.173px;
    object-fit: cover;
  }
}
.hero__thumb-left-wrap .hero__play-audio {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 194px;
  height: 60px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__thumb-left-wrap .hero__play-audio {
    width: 115.098px;
    height: 35.597px;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
  }
}

.hero__group {
  margin-top: 55px;
}
@media screen and (max-width: 768px) {
  .hero__group {
    margin-top: 34px;
  }
}
.hero__group-desc {
  text-align: start;
  color: #201830;
}
@media screen and (max-width: 768px) {
  .hero__group-desc {
    font-size: 0.8rem;
  }
}
.hero__group-avt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 0;
}
.hero__group-avt .hero__avt {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__group-avt .hero__avt {
    width: 28px;
    height: 28px;
  }
}
.hero__group-avt .hero__avt-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 48px;
  height: 48px;
  margin-left: -15px;
  border-radius: 50%;
  background: #201830;
}
@media screen and (max-width: 768px) {
  .hero__group-avt .hero__avt-wrap {
    width: 28px;
    height: 28px;
    margin-left: -10px;
  }
}
.hero__group-avt .hero__avt-wrap .hero__value {
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.83;
}
@media screen and (max-width: 768px) {
  .hero__group-avt .hero__avt-wrap .hero__value {
    font-size: 0.7rem;
  }
}
.hero__group-avt .hero__avt + .hero__avt {
  margin-left: -15px;
}
@media screen and (max-width: 768px) {
  .hero__group-avt .hero__avt + .hero__avt {
    margin-left: -10px;
  }
}

.hero__thumb-right {
  position: relative;
  padding-top: 5px;
}
.hero__thumb-right .hero__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 18px;
  padding-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .hero__thumb-right .hero__icon {
    padding-bottom: 16px;
  }
}
.hero__thumb-right .hero__icon-1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__thumb-right .hero__icon-1 {
    width: 16px;
    height: 16px;
  }
}
.hero__thumb-right .hero__icon-2 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__thumb-right .hero__icon-2 {
    width: 16px;
    height: 16px;
  }
}
.hero__thumb-right .hero__icon-3 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__thumb-right .hero__icon-3 {
    width: 16px;
    height: 16px;
  }
}
.hero__thumb-right .hero__thumb {
  width: 270px;
  height: 302px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero__thumb-right .hero__thumb {
    width: 160.188px;
    height: 179.173px;
  }
}

.hero__decor-wrap {
  position: relative;
}
.hero__decor-wrap .hero__decor-1 {
  position: absolute;
  top: -45px;
  left: 55px;
}
@media screen and (max-width: 768px) {
  .hero__decor-wrap .hero__decor-1 {
    top: -36px;
    left: 20px;
  }
}
.hero__decor-wrap .hero__decor-2 {
  position: absolute;
  bottom: -35px;
  right: 95px;
}
@media screen and (max-width: 768px) {
  .hero__decor-wrap .hero__decor-2 {
    bottom: -10px;
    right: 20px;
  }
}

.hero__decor_circle-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 82px;
  height: 82px;
  margin-left: 112px;
  border-radius: 50%;
  background: #FF9051;
}
@media screen and (max-width: 768px) {
  .hero__decor_circle-wrap {
    width: 48px;
    height: 48px;
    margin-left: 70px;
  }
}
.hero__decor_circle-wrap .hero__decor_circle-text {
  color: #FFEFE7;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .hero__decor_circle-wrap .hero__decor_circle-text {
    font-size: 0.6rem;
  }
}
.hero__decor_circle-wrap .hero__decor_circle-text .value {
  display: inline-block;
  margin-bottom: 4px;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .hero__decor_circle-wrap .hero__decor_circle-text .value {
    font-size: 0.8rem;
  }
}

.hero__thumb-card {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 194px;
  padding: 14px 0;
  border-radius: 9px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
}
@media screen and (max-width: 768px) {
  .hero__thumb-card {
    min-width: 116px;
    padding: 8px 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9px;
  }
}
.hero__thumb-card .singer-name {
  margin-bottom: 6px;
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .hero__thumb-card .singer-name {
    font-size: 0.8rem;
  }
}
.hero__thumb-card .name-song {
  color: #665F73;
  font-size: 1.2rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .hero__thumb-card .name-song {
    font-size: 0.7rem;
  }
}

.hero__content {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .hero__content {
    width: 100%;
    margin-top: 40px;
  }
}

.hero__heading {
  position: relative;
  margin-bottom: 20px;
  z-index: 2;
}
.hero__heading-wrap {
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 3.6rem;
    margin-bottom: 12px;
  }
}
.hero__heading-decor {
  position: absolute;
  left: 33px;
  bottom: 75px;
}
@media screen and (max-width: 768px) {
  .hero__heading-decor {
    left: 0;
    bottom: 0;
  }
}

.hero__desc {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .hero__desc {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}

.hero__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
}
.hero__cta-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 13px;
}

.hero__link {
  color: #201830;
}

.play-icon-wrap {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  background: #201830;
  transition: transform 0.25s ease;
}
.play-icon-wrap:hover {
  transform: scale(1.1);
}

/* Feature */
.feature {
  margin-top: 160px;
}
@media screen and (max-width: 768px) {
  .feature .row {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .feature .row .under {
    margin-top: 38px;
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .feature .row .upper {
    order: 1;
  }
}
.feature__heading-wrap {
  position: relative;
  width: 470px;
  padding-bottom: 12px;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .feature__heading-wrap {
    width: 339px;
    padding-bottom: 4px;
    margin-bottom: 12px;
  }
}
.feature__heading-decor {
  position: absolute;
  right: 61px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .feature__heading-decor {
    left: 0;
  }
}
.feature__heading {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .feature__heading {
    font-size: 2.6rem;
  }
}
.feature__desc {
  margin-bottom: 38px;
}
@media screen and (max-width: 768px) {
  .feature__desc {
    font-size: 1.4rem;
    margin-bottom: 28px;
  }
}
.feature__btn__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.feature__btn__content-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FFF;
}
.feature .media {
  position: relative;
  min-height: 339px;
}
.feature .media::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: inline-block;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  background: rgba(255, 144, 81, 0.4);
  filter: blur(129px);
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .feature .media::after {
    width: 176px;
    height: 176px;
  }
}
@media screen and (max-width: 768px) {
  .feature .media {
    width: 100%;
    min-height: 238px;
    order: 1;
  }
}
.feature-icon-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feature-icon-1 {
    width: 48px;
    height: 48px;
  }
}
.feature-icon-2 {
  position: absolute;
  top: 0;
  left: 35%;
  width: 148px;
  height: 148px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feature-icon-2 {
    width: 89px;
    height: 89px;
  }
}
.feature-icon-3 {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 126px;
  height: 126px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feature-icon-3 {
    width: 75px;
    height: 75px;
    left: 20%;
  }
}
.feature-icon-4 {
  position: absolute;
  bottom: 30px;
  right: 15%;
  width: 138px;
  height: 138px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feature-icon-4 {
    width: 82px;
    height: 82px;
    right: 30%;
    bottom: 24px;
  }
}
.feature-icon-5 {
  position: absolute;
  top: 51px;
  right: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feature-icon-5 {
    width: 100px;
    height: 100px;
  }
}
.feature__gallery {
  margin-top: 160px;
}
.feature__gallery .content .feature__heading {
  text-align: center;
}
.feature__gallery .content .feature__heading-decor {
  right: 42px;
}
.feature__gallery .content .feature__desc {
  width: 470px;
  text-align: center;
}
.feature__gallery .gallery__list {
  margin-top: 70px;
}
.feature__gallery .gallery__list .col-lg-8 .row {
  margin-bottom: 30px;
}
.feature__gallery .gallery__list .education__card {
  position: relative;
  min-height: 600px;
}
.feature__gallery .gallery__list .education__card-thumb {
  width: 100%;
  height: 100%;
}
.feature__gallery .gallery__list .education__card-text {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px 16px 24px;
  border-radius: 8px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.feature__gallery .gallery__list .education__card-heading {
  text-align: start;
}
.feature__gallery .gallery__list .education__card-heading-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.feature__gallery .gallery__list .education__card-heading-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: transparent;
}
.feature__gallery .gallery__list .education__card-desc {
  color: #FFF;
}
.feature__gallery .gallery__list .healthcare__card {
  position: relative;
  height: 285px;
}
.feature__gallery .gallery__list .healthcare__card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.feature__gallery .gallery__list .healthcare__card-text {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px 16px 24px;
  border-radius: 8px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.feature__gallery .gallery__list .healthcare__card-heading {
  text-align: start;
}
.feature__gallery .gallery__list .healthcare__card-heading-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.feature__gallery .gallery__list .healthcare__card-heading-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: transparent;
}
.feature__gallery .gallery__list .healthcare__card-desc {
  color: #FFF;
}
.feature__gallery .gallery__list .music__card {
  position: relative;
  height: 100%;
}
.feature__gallery .gallery__list .music__card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.feature__gallery .gallery__list .music__card-text {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px 16px 24px;
  border-radius: 8px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.feature__gallery .gallery__list .music__card-heading {
  text-align: start;
}
.feature__gallery .gallery__list .music__card-heading-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.feature__gallery .gallery__list .music__card-heading-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: transparent;
}
.feature__gallery .gallery__list .music__card-desc {
  color: #FFF;
}
.feature__gallery .gallery__list .fashion__card {
  position: relative;
  height: 100%;
}
.feature__gallery .gallery__list .fashion__card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.feature__gallery .gallery__list .fashion__card-text {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px 16px 24px;
  border-radius: 8px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.feature__gallery .gallery__list .fashion__card-heading {
  text-align: start;
}
.feature__gallery .gallery__list .fashion__card-heading-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.feature__gallery .gallery__list .fashion__card-heading-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: transparent;
}
.feature__gallery .gallery__list .fashion__card-desc {
  color: #FFF;
}
.feature__gallery .gallery__list .comedy__card {
  position: relative;
  height: 100%;
}
.feature__gallery .gallery__list .comedy__card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.feature__gallery .gallery__list .comedy__card-text {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px 16px 24px;
  border-radius: 8px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.feature__gallery .gallery__list .comedy__card-heading {
  text-align: start;
}
.feature__gallery .gallery__list .comedy__card-heading-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.feature__gallery .gallery__list .comedy__card-heading-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: transparent;
}
.feature__gallery .gallery__list .comedy__card-desc {
  color: #FFF;
}
.feature__gallery .cta {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 0;
}
.feature__popular {
  margin-top: 160px;
  padding: 100px 0;
  background: #FFF8F3;
}
.feature__popular-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0;
}
.feature__popular-top .feature__heading-wrap {
  width: 390px;
  padding-bottom: 0;
}
.feature__popular-top .feature__heading-decor {
  right: 45px;
  bottom: 45px;
}
.feature__popular-bottom {
  margin-top: 84px;
}
.feature__popular-bottom .episode__thumb {
  width: 100%;
  object-fit: cover;
}
.feature__popular-bottom .episode__content {
  padding: 30px 0;
}
.feature__popular-bottom .episode__sub-title {
  color: #FF9051;
  margin-bottom: 6px;
}
.feature__popular-bottom .episode__title {
  margin-bottom: 18px;
}
.feature__popular-bottom .episode__desc {
  margin-bottom: 11px;
}
.feature__popular-bottom .episode__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.feature__popular-bottom .episode__cta:hover .play-icon-wrap {
  background: #936CDD;
}
.feature__popular-bottom .episode__cta:hover .episode__link {
  color: #936CDD;
}
.feature__popular-bottom .episode__link {
  color: #201830;
}
.feature__popular-bottom .row__below {
  margin-top: 30px;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-top: 58px;
  cursor: pointer;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #D8D5DE;
}
.dot__active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #936CDD;
}

/* Testimonial */
.testimonial {
  padding-top: 160px;
  position: relative;
  overflow-x: hidden;
}
.testimonial::after {
  position: absolute;
  top: 50%;
  right: -120px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  background: rgba(255, 144, 81, 0.4);
  filter: blur(129px);
}
.testimonial__media {
  position: relative;
}
.testimonial__media .dots {
  position: absolute;
  bottom: 0;
  left: 75px;
}
.testimonial__thumb-layout {
  position: relative;
  align-items: center;
}
.testimonial__thumb-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  z-index: 2;
}
.testimonial__thumb-sm {
  width: 100%;
  display: block;
}
.testimonial__thumb-right {
  position: relative;
  z-index: 1;
}
.testimonial__thumb-md {
  width: 100%;
  display: block;
}
.testimonial__content {
  padding-top: 56px;
}
.testimonial__heading-wrap {
  position: relative;
  margin-bottom: 38px;
}
.testimonial__heading-decor-1 {
  margin-bottom: 18px;
}
.testimonial__heading-decor-2 {
  position: absolute;
  bottom: 40px;
  right: 55px;
  z-index: -1;
}
.testimonial__desc {
  margin-bottom: 18px;
}
.testimonial__name {
  color: #ABA6B5;
}

/* Newsletter */
.newsletter__inner {
  position: relative;
  margin-top: 160px;
  padding: 100px 0;
  border-radius: 12px;
  background: #201830;
}
.newsletter__bg-decor-left {
  position: absolute;
  left: 35px;
  bottom: 45px;
}
.newsletter__bg-decor-center {
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
}
.newsletter__bg-decor-right {
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%);
}
.newsletter__heading {
  position: relative;
  color: #FFF;
  z-index: 1;
}
.newsletter__heading-wrap {
  position: relative;
}
.newsletter__heading-decor {
  position: absolute;
  bottom: -8px;
  left: -5px;
}
.newsletter-bottom {
  margin-top: 70px;
}

/* footer */
.footer {
  padding: 100px 0 40px;
  background: #FFF8F3;
}
.footer .logo {
  width: 116.12px;
  height: 26px;
  object-fit: cover;
}
.footer .copyright {
  margin-top: 15px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  margin-top: 20px;
}
.footer .icon-fb, .footer .icon-linkedin, .footer .icon-twitter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #201830;
  transition: all 0.25s ease;
}
.footer .icon-fb:hover, .footer .icon-linkedin:hover, .footer .icon-twitter:hover {
  background: #936CDD;
  cursor: pointer;
}
.footer__heading {
  margin-bottom: 15px;
}
.footer__item {
  margin-bottom: 25px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer .group__apps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
.footer-icon {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
