@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixins;

// _header.scss
/* Header */
.header {
    --primary-color-bg:#{var.$primary-color-bg};

    padding: 52px 0 15px 0;
    background: var(--primary-color-bg);

  &.fixed {
    position: sticky;
    top: -10px;
    z-index: 3;
  }
}


.header__inner{
    @include mixins.flex($justify:space-between,$align:center);
}

.header-icon{
  width: 116.12px;
  height: 26px;
  object-fit: cover;
}

.header-right{
    @include mixins.flex($align:center,$column-gap: 30px);
}

.header__link{
  @extend %text-btn-2;
  color: #{var.$primary-color-heading};
}

@media screen and (min-width:992px){
    .mobile-header{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

    .show-on-mobile{
        display: none;
    }
}

@media screen and (max-width:991.8px){
  .header{
    padding: 20px 20px 0 20px;
  }

  .header__inner{
    width: 100%;
  }

  .menu-drawer{
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .navbar{
    display: none;
  }

  .navbar{
    position: relative;
  }

  .navbar .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
  .logo__mobile-tablet{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-close{
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .navbar ul{
    display: none;
  }

  .toggle-menu svg{
    width: 34px;
    color: #666;
  }

    .icon-mobile-menu-wrap{
      width: 34px;
      height: 34px;
    }

  .menu-overplay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
  }

  .menu-drawer{
    position: fixed;
    inset: 0 40% 0 0;
    background: #FFF;
    padding: 60px;
    z-index: 2;
    transform: translateX(-100%);
    transition: .5s ease;
  }

  .menu-drawer ul{
    margin-top: 32px;
  }

  .menu-drawer a{
    display:block;
    padding: 14px 0;
    color: #333;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overplay{
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer{
      transform: translateX(0);
    }
  }

.menu-drawer {
  @include mixins.respond(md){
    inset: 0 25% 0 0;
    padding: 40px;
  }
}

