@use "../abstracts/variables" as var;
@use "../base/typography" as typ;
// _mixins.scss
@mixin flex($justify: flex-start, $align: flex-start, $direction: row, $column-gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  column-gap: $column-gap;
}

@mixin btn($height-btn,$width-btn,$primary-color-btn,$border-radius,$text-style: null) {
    --height:#{$height-btn};
    --width:#{$width-btn};
    --primary-color-btn:#{$primary-color-btn};

    @if $text-style != null {
    @extend %#{$text-style};
  }
    
    display: inline-block;
    min-width: var(--width);
    height: var(--height);
    padding: 0 20px;
    border: 1px solid var(--primary-color-btn);
    border-radius: $border-radius;
    line-height: var(--height);
    color: #FFF;
    background: var(--primary-color-btn);

  &:hover {
    opacity: 0.5;
  }
}
