// _variables.scss
$primary-color-bg: #FFF8F3;
$primary-color-decor: #FF9051;
$primary-color-btn: #936CDD;
$primary-color-heading: #201830;
$primary-color-desc: #665F73;
$primary-color-btn-text: #FFF;
$font-family-body:"Plus Jakarta Sans";
$height-btn:64px;